# Backend
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/dist/

# General
.env
*.pyc
.DS_Store

appsettings.json

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/*.auto.tfvars
infra/terraform/crash.log
infra/terraform/override.tf
infra/terraform/override.tf.json
